.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app__alarm,
.app__button {
  margin: 0 0 24px;
}

.app__field {
  background: #f2f2f2;
  border: 1px solid #9a9aa2;
}

.app__row {
  display: flex;
  position: relative;
  flex-direction: row;
}

.app__cell {
  height: 50px;
  width: 50px;
  background: transparent;
  border: 1px solid #9a9aa2;
}

.app__cell_1 {
  background: #d2d2fc;
}

.app__cell_10,
.app__cell_12 {
  background: #ccc;
}

.app__cell_11 {
  background: #ff7f50;
}
